
body {
  height: 100%;
  /* background-image: url("/src/img/bg.png") */
  background-image: url("https://raw.githubusercontent.com/joaoacastro/qrCodeGenerator/refs/heads/main/src/img/bg.png");
  /* background-size: cover; */
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  text-align: center;
  height: 40px;
  width: 25vw;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #000000;
}

input[type="color"] {
  border: none;
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  padding: 0;
  cursor: pointer;
  border-radius: 8px; /* Torna as bordas arredondadas */
  appearance: none; /* Remove o estilo padrão do navegador */
  -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
}

footer {
  text-align: end;
  color: #0077ff;
  padding-right: 15px;
}

.resetButton,
.generateButton {
  transition: box-shadow .2s;
}

.resetButton:hover,
.generateButton:hover {
  box-shadow: 10px 10px 5px #000000;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}

.container_box {
  width: 40vw;
  height: 95%;
  border: 2px solid #0077ff;
  background-color: rgba(136, 136, 136, 0.9);
  border-radius: 20px;
}

.title,
.bodyQrCode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

.inputText {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */
}

.qrCodeColor {
  display: flex;
  padding: 20px;
}

.bg-color,
.qrcode-color {
  width: 10vw;
  height: 7vh;
}

.container-qrCode-Size,
.container-bg-color,
.container-qrcode-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-bg-color {
  padding-right: 10px;
}

.container-qrcode-color {
  padding-left: 10px;
}

.qrCodeSize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qrCode {
  margin-top: 40px;
  transition: box-shadow 0.2s;
  border-radius: 10px;
}

.qrCode:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 10px #000000;
  border-radius: 10px;
}

.clickToSave,
.resetButton {
  display: none;
}

.clickToSave {
  justify-content: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .container_box {
    width: 80vw;
  }
  input {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
