* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  font-size: 22px;
  color: #ffffff;
}

body {
  background-image: url("/src/img/bg.png");
  background-size: cover;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  text-align: center;
  height: 40px;
  width: 25vw;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #000000;
}

input[type="color"] {
  border: none;
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  padding: 0;
  cursor: pointer;
  border-radius: 8px; /* Torna as bordas arredondadas */
  appearance: none; /* Remove o estilo padrão do navegador */
  -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
}

footer {
  text-align: end;
  color: #0077ff;
  padding-right: 15px;
}

.resetButton,
.generateButton {
  transition: box-shadow .2s;
}

.resetButton:hover,
.generateButton:hover {
  box-shadow: 10px 10px 5px #000000;
}
